@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

* {
    font-family: "Tektur", sans-serif;
}

.text-2xl {
    border: black solid 2px;
    padding: 6px;
    border-radius: 5rem;
    background-color: rgb(72, 54, 31);
    color: white;
}


body {
    background-color: rgb(222, 169, 72);
}

.container {
    color: rgb(72, 54, 31);
    background-color: rgb(250, 222, 188);
    margin-top: 1rem;
    border-radius: 2rem;
}

.mt-1 {
    background-color: rgb(219, 195, 165);
    border-radius: 5rem;
}

.px-4 {
    background-color: rgb(72, 54, 31);
    color: rgb(250, 222, 188);
    margin-top: 0.3em;
    border-radius: 5rem;
    margin-left: 5rem;
    width: 60%;
    transition: .1s linear;
}

.px-4:hover {
    background-color: rgb(222, 169, 72);
    color: rgb(72, 54, 31);
    transition: .1s linear;
}

.text-lg {
    color: black;
}

#txt2 {
    border: black solid 1px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    border-bottom: black solid 2px;
}

.icons .bx {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    border: black solid 1px;
    border-radius: 100%;
    border-color: black;
    background-color: black
}

#todoList {
    margin-top: 1rem;
}

.liniya {
    margin-top: 2rem;
    border: black solid 1px;
}